@inject IProductService productService;
@page "/"
@page "/search/{searchText}"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<ProductsList/>

@code{
    [Parameter]
    public string? searchText { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        if (searchText != null)
        {
            await productService.SearchProducts(searchText);
        }
        else
        {
            await productService.GetProducts();
        }

    }
}